<configuration>

  <!-- Define el nivel de registro de LOG (0 = FATAL, 5 = INFO, 10 = DEBUG) -->
  <setting name="LOG_VERBOSITY_LEVEL">
    <value>0</value>
  </setting>

  <!-- Define si se debe mostrar la versión del FIP al iniciar -->
  <setting name="SHOW_VERSION">
    <value>true</value>
  </setting>

  <!-- Mapeo entre los códigos de tarjetas de PRISMA y los Obj Num de Simphony -->
  <setting name="LAPOS_TO_SIMPHONY_CARD_MAP">
    <value>
        VI=0;
        EL=0;
        MC=0;        
    </value>
  </setting>

  <!-- Define el código de la tienda utilizado para el pago con T/C -->
  <setting name="LAPOS_MERCHANT_CODE">
    <value>1</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define el nombre de la tienda utilizado para el pago con T/C -->
  <setting name="LAPOS_MERCHANT_NAME">
    <value>1</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define el CUIT de la tienda utilizado para el pago con T/C -->
  <setting name="LAPOS_MERCHANT_CUIT">
    <value>00-00000000-0</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define el número de puerto serie al cual se conecta la terminal POS
       de Tarjetas de Crédito -->
  <setting name="LAPOS_SERIAL_PORT_NUMBER">
    <value>1</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define la velocidad de conexión entre la PC y la terminal POS de 
       Tarjetas de Crédito -->
  <setting name="LAPOS_SERIAL_PORT_BAUDRATE">
    <value>19200</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define el tamaño en bits de transferencia de datos entre la PC y la 
       terminal POS de Tarjetas de Crédito -->
  <setting name="LAPOS_SERIAL_PORT_BYTESIZE">
    <value>8</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define la paridad de utilizada en la comunicación entre la  PC y la 
       terminal POS de Tarjetas de Crédito -->
  <setting name="LAPOS_SERIAL_PORT_PARITY">
    <value>N</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define la cantidad de bits de parada utilizados en en la comunicación 
       entre la PC y la terminal POS de Tarjetas de Crédito -->
  <setting name="LAPOS_SERIAL_PORT_STOPBITS">
    <value>1</value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Enumera las cuotas y planes de las tarjetas soportadas por el POS.
       
       Formato: 
        <LAPOS Cod Tarjeta_#1>:<Cant. Cuoutas_#1>:<Plan ID #1>;
        <LAPOS Cod Tarjeta_#1>:<Cant. Cuoutas_#2>:<Plan ID #2>;
        ...
        <LAPOS Cod Tarjeta_#n>:<Cant. Cuoutas_#m>:<Plan ID #k>;
        
        Ej.:

          <setting name="LAPOS_CREDIT_CARD_PLAN_DEF">
            <value>
              VI:1:1;   ..... La tarjeta con código 'VI', en una sola cuota tiene el Plan ID '1'
              VI:12:5;  ..... La tarjeta con código 'VI', en doce cuotas tiene el Plan ID '5'
              AP:1:3;
              EL:1:1;
              EL:6:1;
              EL:18:5;
            </value>
          </setting>               
  -->

  <setting name="LAPOS_CREDIT_CARD_PLAN_DEF">
    <value>
      VI:1:1;
      EL:1:1;
      MC:1:1;
    </value>
  </setting>

  <!-- ________________________________________________________________ -->

  <!-- Define si se muestra el diálogo al final de cada proceso de venta -->
  <setting name="LAPOS_SHOW_PAYMENT_RESULT_DIALOG">
    <value>true</value>
  </setting>

  <!-- ________________________________________________________________ -->
  <setting name="LAPOS_WAIT_MS">
    <value>20000</value>
  </setting>


  <!-- ====================================================================== -->
  <!-- ======================== SIMPHONY CONFIG AREA ======================== -->
  <!-- ====================================================================== -->
  <!-- ______________________________________________________________________ -->
  <!-- Si se activa, los montos enviados como medios de pago de cortesías 
       serán formateados utilizando la configuración regional interna de 
       Simphony, caso contrario se utilizará la configuración regional del 
       sistema -->
  <setting name="USE_SIMPHONY_DECIMAL_SEPARATOR_FOR_TENDERS">
    <value>false</value>
  </setting>



</configuration>